<div class="alert alert-warning" role="alert">
    <p>Your fees are now overdue, please arrange to have payment made immediately. You can pay fees on-line at <a href="http://www.wit.ie/fees">www.wit.ie/fees</a> </p>
    
    <p>Please direct all quieries to <span class="vcard"><a href="mailto:fees@wit.ie" class="email">fees@wit.ie</a> or <span class="tel">051 845692</span>.</span>

</div> <!-- end .alert -->